.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.scorecard {
    flex: 1;
    flex-direction: column;
    width: 150px;
}

.score-header {
    font-size: 20px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: solid;
    font-size: 100px;
}

.current-play {
    width: 150px;
    font-size: 40px;
}

.button-panel {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
}